<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <style>
        body{
            background: rgb(4, 4, 36);
        }
        form{
            width: 400px;
            height: 350px;
            background: #fff;
            border-radius: 20px;
            margin: 50px auto;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
            padding: 80px 0;
        }
    </style>
</head>

<body>
    <form action="users/login" method="POST">
        <label>
            <span>用户名:</span>
            <input type="text" name="name" placeholder="请输入用户名">
        </label><br>
        <label>
            <span>密 &ensp;码:</span>
            <input type="password" name="pwd" placeholder="请输入密码">
        </label>
        <input type="submit" name="" id="" value="登录">
    </form>
</body>

</html>