<div class=" lv-menu">
    <a href="/users" class="list-group-item active">
        用户管理
    </a>
    <a href="brand.html" class="list-group-item">品牌管理</a>
    <a href="phone.html" class="list-group-item">手机管理</a>
</div>